.bj-board {
  background: rgb(0, 146, 56);
  background: radial-gradient(
    circle,
    rgba(0, 146, 56, 1) 0%,
    rgba(1, 106, 39, 1) 60%
  );
  .bj-image {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url('./images/tabletop.png');
    display: flex;
    position: relative;
    .deck-cards,
    .deck-provider {
      position: absolute;
      top: 5%;
      right: 5vw;
    }
    .deck-provider,
    .deck-cards,
    .deck-collector {
      > img {
        height: 150px;
        width: auto;
      }
    }
    .deck-collector {
      position: absolute;
      top: 5%;
      left: 5vw;
    }
  }
}
