.actions-wrapper {
  position: absolute;
  display: flex;
  right: 10px;
  bottom: 3vh;
  > span {
    cursor: pointer;
    padding: 5px;
    background: #fff;
    margin: 10px;
    border-radius: 50%;
    background: rgb(170, 152, 83);
    background: linear-gradient(
      90deg,
      rgba(170, 152, 83, 1) 0%,
      rgba(241, 208, 112, 1) 100%
    );
    transition: all 0.2s ease;
    box-shadow: 0 0 2px 2px #333333;

    .inner {
      padding: 5px;
      background: rgb(23, 45, 45);
      opacity: 0.8;
      background: radial-gradient(
        circle,
        rgba(23, 45, 45, 1) 0%,
        rgba(56, 118, 115, 1) 100%
      );
      display: flex;
      justify-content: center;
      color: #fff;
      width: 50px;
      font-size: 40px;
      height: 50px;
      border-radius: 50%;
      box-shadow: inset 0px 0px 2px 2px #333333;
    }
    &:hover {
      box-shadow: 0 0 20px rgb(170, 152, 83);
      transform: scale(1.1);
    }
  }
}
